<!--
Your NAME
Your books
Your .get_trades
    -->
<div class="row">
  <h2 class="header-box">
    <center style="margin-top: 0.5em;"><%= current_user.first_name %>'s Books:</center>
  </h2>
</div>

<div class="container">
  <div class="flex-container">
    <% current_user.books.each do |book| %>
      <div class="four columns book-tile">
        <h4><%= book.title %></h4>
        <p>by:<%= book.author %></p>
        </br>
        <p><%= book.genre %></p>
        <p><%= book.user.first_name %></p>
        <p><%= User.find(book.user_id).location %></p>
        </br>
        <a class="button" href='/book/<%= book.id %>'>Delete</a>
      </div>
    <% end %>
  </div>

</br>
<h4><center>Pending Trades</center></h4>
  <table class="u-full-width">
    <thead>
      <tr>
        <th>Book</th>
        <th>Poster</th>
        <th>Bidder</th>
        <th>Location</th>
        <th>Yea</th>
        <th>Neigh</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.posting_trades.each do |trade| %>
      <tr>
        <td><%= Book.find(trade.book_id).title %></td>
        <td><%= User.find(trade.posting_user).first_name %> <%= User.find(trade.posting_user).last_name %></td>
        <td><%= User.find(trade.receiving_user).first_name %> <%= User.find(trade.receiving_user).last_name %></td>
        <td>Location</td>
        <td><a href="/"><i class="material-icons md-18">thumb_up</i></a></td>
        <td><a href="/"><i class="material-icons md-18">thumb_down</i></a></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
