<div class="row">
  <h2 class="header-box">
    <center style="margin-top: 0.5em;"><%= current_user.first_name %>'s Books:</center>
  </h2>
</div>

<div class="container">
  <div class="flex-container">
    <% current_user.books.each do |book| %>
      <div class="four columns book-tile">
        <h4><%= book.title %></h4>
        <p>by:<%= book.author %></p>
        </br>
        <p><%= book.genre %></p>
        <p><%= book.user.first_name %></p>
        <p><%= User.find(book.user_id).location %></p>
        </br>
        <form method="POST" action="/book/<%= book.id %>/remove">
          <input class="button trade-button" type="submit" value="Make Unavailable">
        </form>
      </div>
    <% end %>
  </div>

</br>
<h4 class="docs-header"><center>Pending Trades</center></h4>
  <table class="u-full-width">
    <thead>
      <tr>
        <th>Book</th>
        <th>Poster</th>
        <th>Bidder</th>
        <th>Location</th>
        <th>Yea</th>
        <th>Neigh</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.posting_trades.where(:status => "pending").each do |trade| %>
      <tr>
        <td><%= Book.find(trade.book_id).title %></td>
        <td><%= User.find(trade.posting_user).first_name %> <%= User.find(trade.posting_user).last_name %></td>
        <td><%= User.find(trade.receiving_user).first_name %> <%= User.find(trade.receiving_user).last_name %></td>
        <td><%= User.find(trade.posting_user).location %></td>
        <form method="post" action="/accept_trade<%= trade.id %>">
          <td><button type="hidden" name="_method" value="put" class="no-border"><i class="material-icons md-18">thumb_up</i></button</td>
        </form>
        <form method="post" action="/decline_trade<%= trade.id %>">
          <td><button type="hidden" name="_method" value="put" class="no-border"><i class="material-icons md-18">thumb_down</i></button</td>
        </form>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
