<div class="container" style="clear: both;">
  <div class="six columns book-tile">
    <h4>Title: <%= @book.title %></h4>
    <p>Author: <%= @book.author %></p>
    </br>
    <p>Genre: <%= @book.genre %></p>
    <p>Poster: <%= @book.user.first_name %></p>
    <p>You can find <%= @book.user.first_name %> at: <%= @book.user.location %></p>
    </br>
  </div>
</div>

<div class="container">
</br>
  <div class="row">
    <h5 class="docs-header">
      <center>Trade History for <%= @book.title %></center>
    </h5>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Location</th>
          <th>Trade Date</th>
          <th>Poster</th>
          <th>Receiver</th>
        </tr>
      </thead>
      <tbody>
        <% @book.trades.each do |trade| %>
          <td>Location</td>
          <td><%= trade.created_at.httpdate %></td>
          <td><%= User.find(trade.posting_user).first_name %> <%= User.find(trade.posting_user).last_name %></td>
          <td><%= User.find(trade.receiving_user).first_name %> <%= User.find(trade.receiving_user).last_name %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
