<div class="row">
  <h1 class="header-box">
    <center>Here's what's available near you:</center>
  </h1>
</div>

<% @books.each do |book| %>
  <div class="row">
    <div class="six columns">
      <h4><%= book.title %></h4>
      <p>by: <%= book.author %></p>
      </br>
      <p><%= book.genre %></p>
      <p><%= book.user_id %><%= User.find(book.user_id).location %></p>
      <p>LOCATION</p>
    </div>
  </div>
<% end %>

<center><a class="button" href="/book/new">Post a new book</a></center>
