<div class="row">
  <h1 class="header-box">
    <center>Here's what's available near you:</center>
  </h1>
</div>

<div class="container">
  <div class="flex-container">

  <% @books.each do |book| %>
      <div class="four columns book-tile">

        <h4><a href="/book/<%= book.title %>"><%= book.title %></a></h4>
        <p>by: <%= book.author %></p>
        </br>
        <p><%= book.genre %></p>
        <p><%= book.user.first_name %></p>
        <p><%= book.user.location %></p>

        <form method="post" action="/trade/new<%= book.id %>">
          <input class="button trade-button" type="submit" value="Trade">
        </form>
      </div>
  <% end %>

  </div>
</div>
